.item_card {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 8px;

    height: 128px;
    padding: 8px;

    background-color: #f2f2f2;
    border-radius: .4em;
}
.image_container{
    width: 100%;
    aspect-ratio: 1;

    overflow: hidden;
}
.item_image {
    height: 100%;
    aspect-ratio:1;

    border-radius: .4em;
}

.item_data_container {
    display: grid;
    grid-template-rows: auto 2fr auto;

    height: 100%;
}

.item_name {
    font-size: .9em;
    font-weight: 600;
}

.item_description {
    font-size: .8em;
}
.item_data_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}
.item_price {
    grid-area: price;
    font-size: .8em;
    font-weight: 600;
}

.item_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em
}

.item_button{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .3em 1em;

    font-size: 1em;
    color: #e0a423;
    background-color: #2c2c2c;

    border:  none;
    border-radius: .2em;
}