.popup_container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    padding: 1em 2em;

    background-color: #2c2c2c;
    border-radius: 1em;
}
.popup_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    color: #fff;
}
.popup_title{
    font-size: 1.2em;
    font-weight: 600;
}
.popup_text{
    color: #d4d4d4;
    font-weight: 400;
}
.popup_buttons_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    width: 100%;
}
.buton{
    cursor: pointer;

    padding: 0.5em 1em;
    
    font-size: 1em;
    font-weight: 600;
    
    border-radius: 0.5em;
    border: none;
}
.confirm{
    background-color: #ff4d4d;
    color: #fff;
}
.cancel{
    background-color: #757575;
    color: #fff;
}