.today_page_container{
    height: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 15vh;

    background-color: #2c2c2c;
}
.image_container{
    position: relative;
    top: 4vh;

    width: 40vw;
    aspect-ratio: 1;

    border-radius: 1em;

    overflow: hidden;
}
.image{
    width: 100%;
}
.menu_title_container{
    text-align: center;
    padding: 6vh 2em 1em 2em;
}
.menu_title{
    font-size: 2em;
}
.menu_description{
    font-size: 1em;
    font-weight: 400;
    text-align: left;
    color: #2c2c2c;
}

.menu_items_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    
    padding: 1em;
}
.section_title{
    font-size: 1.2em;
    color: #e0a423;
}
.section_items_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1em;
}

.section_list_item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;

    width: 100%;
}
.doted_line{
    flex: 1;
    height: .8em;
    border-bottom: 1px dashed #2c2c2c;
}