.back_arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2em;
    
    position: absolute;
    top: .5em;
    left: .5em;

    font-size: 1.2em;
    font-weight: 400;
    color: #e0a423;
    z-index: 1;
    text-decoration: none;
}
.back_arrow .icon{
    font-size: 1.2em;
}
.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 128px;

    background-color: #2c2c2c;
}

.menu_image {
    position: absolute;
    left: 50%;
    bottom: -48px;

    transform: translateX(-50%);

    width: 128px;
    aspect-ratio: 1;

    border-radius: .5em;
}

.menu_data_container {
    padding: 3em 1em;
}

.title {
    font-size: 1.5em;
    font-weight: 600;
}

.description {
    font-size: .9rem;
    font-weight: 400;

    color: #2c2c2c;
}


.items_label {
    font-size: 1em;
    font-weight: 400;
    margin-top: 1em;
}
.items_label span{
    font-size: .8em;
    font-weight: 200;
    margin-top: 1em;
}

.items_container{
    margin-top: .5em;
}

.items_list {
    display: flex;
    flex-direction: column;
    gap: .5em;
}